
body,
body *{
padding:0;
margin: 0;
vertical-align: top;
box-sizing: border-box;
}
    .container > .row{
        width:1000px;
        height: 100vh;
        margin: 0 calc( (100% - 1000px ) / 2 );
        background-color: lightblue;
    }
        
        .container > .row >.block{
            display: inline-block;
            width:600px;
            margin: 60px calc( ( 100% - 600px ) / 2 );
        }